body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #B2FEFA, #0ED2F7);
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease;
    max-width: 800px;
    margin: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


    h4 {
        color: #333;
        text-align: left;
        margin-left: 20px;
        animation: slideInLeft 1s ease;
    }

    @keyframes slideInLeft {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    p {
        color: #444;
        margin-bottom: 20px;
        animation: slideInRight 1s ease;
    }

    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Modal styles */
    .modall {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.);
        animation: fadeIn 0.5s ease;
    }

   .modal-messages {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    width: 80%;
    border-radius: 10px;
    position: relative;
    animation: slideInUp 0.5s ease;
}


    /* Close button */
    .close {
        color: #777;
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #333;
    }

    img { 
        max-width: 100%; 
        height: auto; 
        transition: transform 0.3s ease-in-out;
    }

    img:hover {
        transform: scale(1.05);
    }
    .welcome-animation {
        animation: slideInUp 1s ease, colorChange 3s infinite alternate;
    }

    @keyframes slideInUp {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes colorChange {
        0% {
            color: #333; /* Initial color */
        }
        50% {
            color: #D4A017;
        }
        100% {
            color: #333; /* Back to initial color */
        }
    }

/* Modal Content */
.modal-content {
  background-image: linear-gradient(to bottom, #B2FEFA, #0ED2F7);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-family: 'Jersey 15 Charted', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10% auto;
  width: 80%;
  position: relative;
  animation: slideInUp 0.5s ease;
}
    

/* OK Button */
#okBtn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#okBtn:hover {
  background-color: #45a049;
}

/* Modal Overlay */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Center the modal content */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Hidden by default */
.qr {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-qr {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

/* Close button */
.closed {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closed:hover,
.closed:focus {
  color: black;
  text-decoration: none;
}
